<!DOCTYPE html>
<html lang="en">
<head>
<TITLE>Neo Reward System</TITLE>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<!--Bootstrap CSS definition-->
<link rel="stylesheet"
	href="http://maxcdn.bootstrapcdn.bootcss.com/bootstrap/3.3.6/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.bootcss.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<script
	src="http://maxcdn.bootstrapcdn.bootcss.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<link href="http://fonts.googleapis.com/css?family=Montserrat"
	rel="stylesheet" type="text/css">
<link href="http://fonts.googleapis.com/css?family=Lato"
	rel="stylesheet" type="text/css">

<!-- main page style CSS definition -->
<link rel="stylesheet" href="__CSS__/mainpage.css" type="text/css">
<!-- Script files definition -->
<script type="text/javascript" src="__JS__/form_utilities.js"></script>

<script type="text/javascript">
      jQuery(function($)
      {

        
      });
    </script>

</head>


<body id="adtUserRegisterPage" data-spy="scroll" data-target=".navbar"
	data-offset="60">

  <!--Top part define-->
  <nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <p style="margin-top: 15px;   font-size: 30px; font-weight: bold; letter-spacing: 2px;"> {$merchant_name} -THANK YOU!</p>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      
    </div>
  </div>
  </nav>

  <!-- Content container part define-->

  <!-- Container (Contact info Section) -->
  <div class="container-fluid" style="margin-top: 100px;">
    <div class="row text-center">
      <div class="col-sm-offset-4 col-sm-4">
      
        <p style="font-size: 45px; font-weight: bold; letter-spacing: 2px; font-family: Times, serif" >{$merchant_name}</p>
        
        <a href={$website_link} class="general_text_link_8_style">{$website}</a>
        <br>
        <br>
        <br>
        <p style="font-size: 25px; letter-spacing: 2px;">{$success_message}</p>
        <br>
        <p style="font-size: 25px; font-weight: bold; letter-spacing: 2px;">Please share our contest!</p>
        <br>
        <br>
        <p style="font-size: 25px; font-weight: bold; letter-spacing: 2px;">Sincerely,</p>
        <br>
        <p style="font-size: 30px; letter-spacing: 2px;">{$merchant_name}</p>
        <br>
        <br>
        <br>
       
      </div>
    </div>

    <div class="row text-center">
      <div class="col-sm-offset-4 col-sm-4">
        <br>
        <br>
        <p style="color: grey; font-size: 25px;"> @{$merchant_name} </p>
        
        <p style="color: grey; font-size: 25px;"> All Rights Reserved | Powered by Neo Loyalty </p>
        
        <br>
        <br>
      </div>
    </div>
  </div>

</body>
</html>