<!DOCTYPE html>
<html lang="en">
<head>
<TITLE>Neo Reward System</TITLE>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<!--Bootstrap CSS definition-->
<link rel="stylesheet"
	href="http://maxcdn.bootstrapcdn.bootcss.com/bootstrap/3.3.6/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.bootcss.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<script
	src="http://maxcdn.bootstrapcdn.bootcss.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<link href="http://fonts.googleapis.com/css?family=Montserrat"
	rel="stylesheet" type="text/css">
<link href="http://fonts.googleapis.com/css?family=Lato"
	rel="stylesheet" type="text/css">

<!-- main page style CSS definition -->
<link rel="stylesheet" href="__CSS__/mainpage.css" type="text/css">
<!-- Script files definition -->
<script type="text/javascript" src="__JS__/form_utilities.js"></script>

<script type="text/javascript">
      jQuery(function($)
      {
        var objSubmitBut = document.getElementById("sign_in_submit");
     
        $(objSubmitBut).click(function ()
        {
          var objForm = document.getElementById("form_sign_in");
          var objEmail  = document.getElementById("user_email");
          var objPassword  = document.getElementById("user_password");
          var strAction = "{:U('User/signInProc')}";
   
          userSignInFormProcess(objForm, objEmail, objPassword, strAction);
        });
      });
    </script>

</head>


<body id="userSignInPage" data-spy="scroll" data-target=".navbar"
	data-offset="60">

	<!--Top part define-->
	<include file="Public:user_navi_sign_out" />

	<!-- Content container part define-->

	<!-- Container (Contact info Section) -->
	<div class="container-fluid" style="margin-top: 100px;">
		<div class="row text-center">
			<div class="col-sm-offset-4 col-sm-4">
				<div class="panel panel-default text-center"
					style="border: 2px solid #c3c3c3; box-shadow: 5px 5px 5px grey;">
					<div class="panel-body">
						<p
							style="font-size: 30px; font-weight: bold; letter-spacing: 2px;">Welcome
							Back</p>
						<hr
							style="border-color: -moz-use-text-color #FFFFFF; border-style: solid none; border-width: 3px 0;" />

						<a href="http://www.facebook.com"> <img border="0"
							src="__IMG__/btn_signinfb.png" alt="Facebook Register"
							width="350" height="40">
						</a>
						<hr
							style="border-color: -moz-use-text-color #FFFFFF; border-style: solid none; border-width: 3px 0;" />

						<form class="form-horizontal" id="form_sign_in"
							name="form_sign_in" method="post" action="__SELF__">
							<div class="form-group">
								<label class="control-label col-sm-2" for="user_email">Email:</label>
								<div class="col-sm-10">
									<input type="email" class="form-control" id="user_email"
										name="user_email" placeholder="Enter email">
								</div>
							</div>
							<div class="form-group">
								<label class="control-label col-sm-2" for="user_password">Password:</label>
								<div class="col-sm-10">
									<input type="password" class="form-control" id="user_password"
										name="user_password" placeholder="Enter password">
								</div>
							</div>
							<div class="form-group">
								<div>
									<button type="button" id="sign_in_submit"
										class="submit_button_style">Sign in with Email</button>
								</div>
							</div>
						</form>
						<br>
						<table class="table">
							<tr>
								<td style="font-size: 20px; font-weight: bold;"><a
									href="{:U('User/passwd_recover')}"
									class="general_text_link_3_style">Forget password?</a></td>
								<td style="font-size: 20px; font-weight: bold;"><a
									href="{:U('User/register')}" class="general_text_link_3_style">New
										user? Register--> </a></td>
							</tr>
						</table>
					</div>
				</div>
			</div>
		</div>

		<div class="row text-center">
			<div class="col-sm-offset-4 col-sm-4">
				<br>
				<br>
				<p style="color: grey; font-size: 25px;">
					Are you a business? <a href="{:U('Business/business_main')}"
						class="general_text_link_3_style">Visit your dashboard.</a>
				</p>
				<br>
				<br>
			</div>
		</div>
	</div>



	<!-- Foot part define-->
	<include file="Public:user_footer" />


</body>
</html>