<div class="row text-center" style="margin-top: 50px;">
	<div class="col-sm-offset-2 col-sm-8">
		<div class="btn-group btn-group-justified">
			<a href="{:U('Business/business_db1_profile')}"
				class="button button-royal button-rounded button-raised general_text_link_5_style"
				style="font-size: 20px; font-weight: bold" id="button_profile_id">Account
				Profile</a> <a href="{:U('Business/business_db1_status')}"
				class="button button-royal button-raised general_text_link_5_style"
				style="font-size: 20px; font-weight: bold" id="button_status_id">Account
				Status</a> <a href="{:U('Business/business_db1_product')}"
				class="button button-royal button-raised general_text_link_5_style"
				style="font-size: 20px; font-weight: bold" id="button_product_id">Product
				Info</a> <a href="{:U('Business/business_db1_general')}"
				class="button button-royal button-rounded button-raised general_text_link_5_style"
				style="font-size: 20px; font-weight: bold" id="button_general_id">General
				Info</a>
		</div>
	</div>
</div>