<!-- Foot part define-->
<div class="foot_container_style">

	<!-- Foot part logo container define-->
	<div class="bottom_logo_div_1_style">

		<!-- Define company logo dispaly, etc -->
		<div class="foot_company_logo_div_style">
			<p>
				<a href="http://www.google.com"> <img border="0"
					src="__IMG__/ic_title_1.png" alt="test picture" width="200"
					height="40" class="company_logo_2_style">
				</a>
			</p>
		</div>
		<!-- Define the social media logo dispaly, etc -->
		<div class="foot_social_icon_div_style">
			<a href="http://www.google.com" target="_blank"> <img border="0"
				src="__IMG__/facebook_icon.gif" alt="facebook icon" width="40"
				height="40" class="foot_facebook_icon_style">
			</a> <a href="http://www.google.com" target="_blank"> <img border="0"
				src="__IMG__/Twitterbird_icon.png" alt="facebook icon" width="40"
				height="40" class="foot_twiter_icon_style">
			</a> <a href="http://www.google.com" target="_blank"> <img border="0"
				src="__IMG__/google_plus_icon.png" alt="facebook icon" width="40"
				height="40" class="foot_google_plus_icon_style">
			</a> <a href="mailto:elecdesign8@gmail.com" target="_blank"> <img
				border="0" src="__IMG__/email_icon.png" alt="facebook icon"
				width="40" height="40" class="foot_email_icon_style">
			</a>
		</div>
	</div>

	<!-- Foot part quick link container define-->
	<div class="foot_link_table_containere_style">

		<table class="foot_link_table_style">
			<tr>
				<td align="left"><a href="{:U('Index/index')}"
					class="general_text_link_highlight_style">FOR CONSUMERS</a></td>
				<td align="left"><a href="{:U('Business/business_main')}"
					class="general_text_link_highlight_style">FOR MERCHANTS</a></td>
				<td align="left"><a href="http://www.google.com"
					class="general_text_link_highlight_style">ABOUT US</a></td>
			</tr>
			<tr>
				<td align="left"><a href="{:U('User/insert')}"
					class="general_text_link_style">FIND LOCATIONS</a></td>
				<td align="left"><a href="{:U('Business/business_sign_in')}"
					class="general_text_link_style">DASH BOARD</a></td>
				<td align="left"><a href="http://www.google.com"
					class="general_text_link_style">CAREERS</a></td>
			</tr>
			<tr>
				<td align="left"><a href="{:U('User/signIn')}"
					class="general_text_link_style">SIGN IN</a></td>
				<td align="left"><a href="http://www.google.com"
					class="general_text_link_style">SMALL BUSINESS BLOG</a></td>
				<td align="left"><a href="http://www.google.com"
					class="general_text_link_style">FAQ</a></td>
			</tr>
			<tr>
				<td align="left"><a href="http://www.google.com"
					class="general_text_link_style">CONSUMER BLOG</a></td>
				<td align="left">&nbsp;</td>
				<td align="left"><a href="http://www.google.com"
					class="general_text_link_style">LEGAL</a></td>
			</tr>
		</table>
	</div>

	<!-- Define company dispaly, etc -->
	<div class="bottom_trade_mark_div_1_style">
		<p>™Neo Reward ©2016</p>
	</div>

</div>