<div class="top_2_style">
	<!--Define Logo here?-->

	<div class="company_logo_1_2_style">
		<a href="http://www.google.com"> <img border="0"
			src="__IMG__/ic_title_1.png" alt="test picture" width="220"
			height="40">
		</a>
	</div>

	<div class="find_location_2_style">
		<!--Define find location information-->
		<p>
			<a href="http://www.google.com" class="general_text_link_style">Find
				Locations</a>
		</p>
	</div>

	<div class="for_business_2_style">
		<p>
			<a href="{:U('Business/business_main')}"
				class="general_text_link_style">For Business</a>
		</p>
	</div>

	<div class="button_sign_in_2_div">
		<a href="{:U('User/signIn')}" class="sign_in_button">SIGN IN</a>
	</div>

</div>
