
<!-- Foot part define-->
<div class="container-fluid" style="padding: 0px 0px;">
	<div
		style="background-color: #ca856a; color: #ffffff; font-family: Montserrat, sans-serif">
		<br> <br>
		<div class="row">
			<div class="col-sm-1"></div>
			<div class="col-sm-6">
				<img src="__IMG__/ic_title_1.png" alt="Company Logo" width="200"
					height="50">
			</div>

			<div class="col-sm-5">
				<a href="http://www.facebook.com" target="_blank"> <span><img
						border="0" src="__IMG__/facebook_icon.gif" alt="facebook icon"
						width="50" height="50"></span>
				</a> <a href="http://www.twitter.com" target="_blank"> <span><img
						border="0" src="__IMG__/Twitterbird_icon.png" alt="facebook icon"
						width="50" height="50"></span>
				</a> <a href="http://www.google.com" target="_blank"> <span><img
						border="0" src="__IMG__/google_plus_icon.png" alt="facebook icon"
						width="50" height="50"></span>
				</a> <a href="mailto:elecdesign8@gmail.com" target="_blank"> <span><img
						border="0" src="__IMG__/email_icon.png" alt="facebook icon"
						width="50" height="50"></span>
				</a>
			</div>
		</div>
		<br> <br>

		<div class="row">
			<div class="col-sm-1"></div>
			<div class="col-sm-3">
				<div class="panel panel-primary text-left"
					style="background-color: rgba(255, 255, 255, 0); border: 0;">
					<p style="font-size: 22px; font-weight: bold;">
						<a href="{:U('Index/index')}" class="general_text_link_2_style">FOR
							CONSUMERS</a>
					</p>

					<p style="font-size: 22px; font-weight: bold;">
						<a href="{:U('User/insert')}" class="general_text_link_style">FIND
							LOCATIONS</a>
					</p>

					<p style="font-size: 22px; font-weight: bold;">
						<a href="{:U('User/signIn')}" class="general_text_link_style">SIGN
							IN</a>
					</p>

					<p style="font-size: 22px; font-weight: bold;">
						<a href="http://www.neoloyalty.com"
							class="general_text_link_style">CONSUMER BLOG</a>
					</p>
				</div>
			</div>
			<div class="col-sm-3">
				<div class="panel panel-primary text-left"
					style="background-color: rgba(255, 255, 255, 0); border: 0;">
					<p style="font-size: 22px; font-weight: bold;">
						<a href="{:U('Business/business_main')}"
							class="general_text_link_2_style">FOR MERCHANTS</a>
					</p>

					<p style="font-size: 22px; font-weight: bold;">
						<a href="{:U('Business/business_sign_in')}"
							class="general_text_link_style">DASHBOARD</a>
					</p>

					<p style="font-size: 22px; font-weight: bold;">
						<a href="http://www.neoloyalty.com"
							class="general_text_link_style">SMALL BUSINESS BLOG</a>
					</p>

					<p style="font-size: 22px; font-weight: bold;">&nbsp;</p>
				</div>
			</div>
			<div class="col-sm-5">
				<div class="panel panel-primary text-left"
					style="background-color: rgba(255, 255, 255, 0); border: 0;">
					<p style="font-size: 22px; font-weight: bold;">
						<a href="http://www.neoloyalty.com"
							class="general_text_link_2_style">ABOUT US</a>
					</p>

					<p style="font-size: 22px; font-weight: bold;">
						<a href="http://www.neoloyalty.com"
							class="general_text_link_style">CAREERS</a>
					</p>

					<p style="font-size: 22px; font-weight: bold;">
						<a href="http://www.neoloyalty.com"
							class="general_text_link_style">FAQ</a>
					</p>

					<p style="font-size: 22px; font-weight: bold;">
						<a href="http://www.neoloyalty.com"
							class="general_text_link_style">LEGAL</a>
					</p>
				</div>
			</div>
		</div>
		<br> <br>
		<div class="row" style="margin-bottom: 1px;">
			<div class="col-sm-1"></div>
			<div class="col-sm-6">
				<p
					style="font-size: 24px; text-transform: uppercase; font-weight: bold; color: #D3D3D3;">™Neo
					Loyalty ©2017</p>
			</div>
		</div>
	</div>

</div>