<!DOCTYPE html>
<html lang="en">
<head>
<TITLE>Neo Reward System</TITLE>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<!--Bootstrap CSS definition-->
<link rel="stylesheet"
	href="http://maxcdn.bootstrapcdn.bootcss.com/bootstrap/3.3.6/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.bootcss.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<script
	src="http://maxcdn.bootstrapcdn.bootcss.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<link href="http://fonts.googleapis.com/css?family=Montserrat"
	rel="stylesheet" type="text/css">
<link href="http://fonts.googleapis.com/css?family=Lato"
	rel="stylesheet" type="text/css">

<!-- main page style CSS definition -->
<link rel="stylesheet" href="__CSS__/mainpage.css" type="text/css">
<!-- Script files definition -->
<script type="text/javascript" src="__JS__/form_utilities.js"></script>
<script type="text/javascript">
      jQuery(function($)
      {
        $("#sign_in_submit").click(function ()
        {
          var elementVerify = true;
          var email_value = $("#business_email").val();
          var business_pw_value = $("#business_pw").val();
               
          // remove space
          email_value = trimSpace(email_value); 

          //Verify the input form item first
          // Verify business email
          var obj = document.getElementById('business_email');
          if(!emailCheck(email_value))
          {
            // change the error cell background color to red
            changeBgColor(obj, false);
            $("#business_email").focus();
            elementVerify = false;
          }
          else
          {
            changeBgColor(obj, true);
          }
            
          // Verify password
          obj = document.getElementById('business_pw');
          if(!passwordCheck(business_pw_value))
          {
            // change the error cell background color to red
            changeBgColor(obj, false);
            $("#business_pw").focus();
            elementVerify = false;
          }
          else
          {
            changeBgColor(obj, true);
          }
            
          if(!elementVerify)
          {
            return;
          }
               
          var jsonBusinessInfo = $('#form_sign_in').serializeObject();  
          console.log(JSON.stringify(jsonBusinessInfo));
               
          // send form data in Json string to server 
          var xmlhttp = new XMLHttpRequest();
          xmlhttp.open("post", "{:U('Business/signInProc')}", true);
          xmlhttp.setRequestHeader('Content-Type', 'application/json; charset=UTF-8');
              
          xmlhttp.send(JSON.stringify(jsonBusinessInfo));
                   
          xmlhttp.onreadystatechange=function()
          {
            if (xmlhttp.readyState==4 && xmlhttp.status==200)
            {
              $data = xmlhttp.responseText;

              console.log($data);

              //      $respData = $.parseJSON($data);
                     
              alert($data);
                     
                     
            }
          }

        });}
      );
    </script>

<style>
.navbar {
	margin-bottom: 0;
	background-color: #666666;
	z-index: 9999;
	border: 0;
	font-size: 20px !important;
	line-height: 1.42857143 !important;
	font-weight: bold;
	letter-spacing: 2px;
	border-radius: 0;
}

.navbar li a, .navbar .navbar-brand {
	color: #eeeeee !important;
	line-height: 50px;
	height: 50px;
	padding-top: 0;
}

.navbar-nav li a:hover {
	color: #ca856a !important;
	background-color: #666666 !important;
}

.navbar-nav li.active a {
	color: #ca856a !important;
	background-color: #666666 !important;
}

.navbar-default .navbar-toggle {
	border-color: transparent;
	color: #fff !important;
}

.navi-btn-default {
	color: #ffffff !important;
	background-color: #f4511e !important;
	font-size: 20px !important;
	font-weight: bold;
	letter-spacing: 2px;
	border-radius: 5px;
}
</style>
</head>


<body id="bSignPage" data-spy="scroll" data-target=".navbar"
	data-offset="60">

	<!--Top part define-->
	<include file="Public:business_navi_sign_out" />

	<!-- Content container part define-->

	<!-- Container (Contact info Section) -->
	<div class="container-fluid"
		style="margin-top: 0px; background-color: #666666;">
		<div class="row text-center">
			<div class="col-sm-offset-4 col-sm-4" style="margin-top: 200px;">
				<div class="panel panel-default text-center"
					style="border: 2px solid #c3c3c3; box-shadow: 5px 5px 5px grey;">
					<div class="panel-body" style="background-color: #666666;">
						<p
							style="font-size: 30px; font-weight: bold; letter-spacing: 2px; color: #eeeeee;">Merchant
							Dashboard</p>

						<hr
							style="border-color: -moz-use-text-color #FFFFFF; border-style: solid none; border-width: 3px 0;" />

						<form class="form-horizontal" id="form_sign_in"
							name="form_sign_in" method="post" action="__SELF__">
							<div class="form-group">
								<label class="control-label col-sm-2"
									style="color: #eeeeee; font-weight: bold" for="email">Email:</label>
								<div class="col-sm-10">
									<input type="email" class="form-control" id="email"
										name="email" placeholder="Enter email">
								</div>
							</div>
							<div class="form-group">
								<label class="control-label col-sm-2"
									style="color: #eeeeee; font-weight: bold" for="password">Password:</label>
								<div class="col-sm-10">
									<input type="password" class="form-control" id="password"
										name="password" placeholder="Enter password">
								</div>
							</div>
							<div class="form-group">
								<div>
									<button type="button" id="sign_in_submit"
										class="bn_sign_button_style">Sign in</button>
								</div>
							</div>
						</form>
						<br>
						<table class="table">
							<tr>
								<td style="font-size: 20px; font-weight: bold;"><a
									href="{:U('Business/business_pw_recover')}"
									class="general_text_link_4_style">Forget password?</a></td>
								<td style="font-size: 20px; font-weight: bold; color: #eeeeee">
									Don't have an account yet? <a
									href="{:U('Business/business_main')}"
									class="general_text_link_4_style">Sign Up </a>
								</td>
							</tr>
						</table>
					</div>
				</div>
			</div>
		</div>


	</div>



</body>
</html>